/*
    Created By: Ashley Freeman
    Original Date: 12/28/2016
    Last Update: 1/27/2017

    Header menu bar styling
 */
 * {
     font-family: "Trebuchet MS", Helvetica, sans-serif;
 }
 
#logo {
    width: 200px;
    height: 75px;
}
 
#headerBar {
    display: flex;
    justify-content: space-between;
    background-color: #00A2E8;
    font-size: 24px;
}

#headerBar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
}

#headerBar li {
    display: inline-block;
}

#headerBar li a {
    padding: 10px;
    color: white;
}

#headerMenu a:hover{
    background-color: #0170a0;
}

.accountAccess {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 75px;
    color: white;
}

.accountAccess a {
    display: inline-block;
    padding: 10px;
    color: white;
}

.accountAccess a:hover {
    background-color: #0170a0;
}

#footerBar {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

#footerMenu {
    width: 96px;
    height: inherit;
}

#footerBar a, p {
    color: lightgray;
    font-size: 10px;
}

#date {
    display: inline-block;
    height: inherit;
}
 
#contact {
    display: inline-block;
    width: 96px;
    height: inherit;
}

#contact h3 {
    color: #00A2E8;
}

#contact img {
    width: 30px;
    height: 30px;
    margin-left: 3%;
}

ul {
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}