/*
   Created By: Ashley Freeman
   Original Date: 1/6/2017
   Last Update: 1/27/2017

   Page layout positioning
*/

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#headerWrapper {
    height: 85px;
}

#headerBar {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 85px;
    top: 0;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    min-height: 640px;
}

#footerBar {
    width: 100%;
    height: 96px;
    bottom: 0;
}